/* General */
body {
    padding:0;
    margin:0;
}
html, body, #map {
    height:100%;
    width:100%;
}

/* Control elements */
.zoomposition{
    font-size:30px;
}
.datetimepicker{
    font-size:20px;
}

/* Markers */
.leaflet-popup-content{
    text-align:center;
}

.icon{
    position: relative;
    width:20px;
    height:20px;
}

.count{
    position: absolute;
    top:0;
    left:0;
    background-color: rgba(255, 255, 255, 0.5);
}

/* Height field */
#height{
    position:absolute;
    bottom:0;
    left:0;
    background:rgba(255, 255, 255, 0.7);
    padding:0 5px;
    font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size:11px;
}

/* Error field */
#error{
    font-family: "Arial", Times, serif;
    color:white;
    display:none;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:30px;
    line-height:30px;
    background-color:red;
    text-align:center;
    opacity:0.8;
}

#message{
    display:inline
}

#close{
    display:inline;
    float:right;
    margin-right:100px;
}

#error a:link{
    color:white;
    text-decoration:none;
}
#error a:visited {
    color:white;
    text-decoration:none;
}
